body {
  margin-top: 0;
  font-family: 'Muli', sans-serif;
  background-color: #faf8f8;
  color: #1a1818;
}

.services-container {
  margin-top: 50px;
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.bg-element img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.services-content {
  text-align: center;
  max-width: 1200px;
}

.services-content h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000;
}

.services-content p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 20px;
}

.service-card {
  margin-right: 20px;
  transition: box-shadow 0.3s ease-in-out;
  background: white;
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000;
}

.service-card p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
}

.learn-more-button {
  background-color: #458ff6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 55px;
  cursor: pointer;
  margin-top: 90px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.journalimg{
  padding-left: 51px;
}