body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  color: #fff;
}

.mindshield-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.mindshield-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
  white-space: nowrap;
}

.logo img {
  margin-right: 10px;
}

.logo-text {
  font-weight: 700;
  font-size: 24px;
  color: #233348;
}

.mindshield-nav a {
  color: #0c0c18;
  margin: 0 15px;
  text-decoration: none;
  opacity: 0.5;
}

.mindshield-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
}

.mindshield-content {
  max-width: 1000px;
}

.mindshield-content h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #000;
  margin-left: 10px;
  margin-top: 10px;
} 

.mindshield-content p {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  text-align: justify;
  padding-right: 60px;
}

.sos-button{

  margin-top: 100px;
  height: 400px;
  width: 400px;
  background-color: rgba(223, 58, 90, 1);
  border: none;
  font-weight: 600;
  font-size: 50px;
  color: rgb(242, 234, 234);
  cursor: pointer;
  transition: .6s;
  position: relative;
  z-index: 1;
  border-radius: 525px;
  box-shadow: 10px 10px 13px rgb(155, 76, 76);
  
}

 .p{
  
  padding: 40px;
  margin-left: 40px;
 
}

.register-button:hover {
  /* Glowing effect on hover */
  box-shadow: 0 0 15px 3px rgb(166, 166, 167); /* blue glow */
  transform: scale(1.05); /* Slightly enlarges the button */
}

.mindshield-image img {
  margin-top: 500px;
  border-radius: 10px;
}

.journalimg{
  padding-left: 20px;
}


.icon{
  
  color: #1278af;
  right: 20px;
  top: 100%;
  translate: 20px;
  font-size: 45px;

}

.posi{
  max-width: 500px;
  white-space: nowrap;
  padding-left: 30px;
  color:rgba(223, 58, 90, 1);
}

/* Add this to your Dashboard.css */
.mindshield-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px; /* Adjust gap between items */
}

.logout-button {
  margin-left: 20px;
  background-color: rgba(223, 58, 90, 1); /* Red color for the logout button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: rgba(223, 58, 90, 1); /* Darker red on hover */
}
