.down-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
}

.down-content {
  max-width: 500px;
}

.down-content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000;
}


.down-content p {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  text-align: justify;
}

.down-image img {
  border-radius: 10px;
  margin-bottom: 50px;
}